<p id="notice"><%= notice %></p>

<h1>Listing Costs</h1>
<% total_cost = 0 %>
<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @costs.each do |cost| %>
      <tr>
        <td><%= cost.category.name %></td>
        <td><%= cost.amount %></td>
        <td><%= link_to 'Show', cost %></td>
        <td><%= link_to 'Edit', edit_cost_path(cost) %></td>
        <td><%= link_to 'Destroy', cost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% total_cost = total_cost + cost.amount %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
Total Cost = <%= total_cost %>
<br>

<%= link_to 'New Cost', new_cost_path %>
