<p id="notice"><%= notice %></p>

<h1>Listing Incomes</h1>
<% total_income = 0 %>
<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @incomes.each do |income| %>
      <tr>
        <td><%= income.category.name %></td>
        <td><%= income.amount %></td>
        <td><%= link_to 'Show', income %></td>
        <td><%= link_to 'Edit', edit_income_path(income) %></td>
        <td><%= link_to 'Destroy', income, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% total_income = total_income + income.amount %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
Total Income = <%= total_income %>
<br>

<%= link_to 'New Income', new_income_path %>
