<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<h3>Incomes</h3>
<div id="incomes">
	<%= @category.incomes.each do |income| %>
	 <%= div_for income do %>
	 <p>
        <%= h(income.category.name) %>
	 	<%= h(income.amount) %>
	 </p>
	 <% end %>
	<% end %>
</div>



<h3>Costs</h3>
<div id="costs">
	<%= @category.costs.each do |cost| %>
	 <%= div_for cost do %>
	 <p>
        
        <%= h(cost.category.name) %>
	 	<%= h(cost.amount) %>
	 </p>
	 <% end %>
	<% end %>
</div>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
